include README.md
include LICENSE
include requirements.txt
recursive-include excloud *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.so
global-exclude .git*
